{:db-spec     #profile
                  {:dev  {:connection-uri "jdbc:postgresql://localhost:5432/nnts2_dev"}
                   :test {:connection-uri "jdbc:postgresql://localhost:5432/nnts2_test"}
                   :prod {:connection-uri #envf ["jdbc:postgresql://%s:%s/nnts2" DB_HOST DB_PORT]}}

 :server-spec #profile
                  {:dev  {:ip "127.0.0.1" :port "8000"}
                   :test {:ip "127.0.0.1" :port "8001"}
                   :prod {:ip "0.0.0.0" :port #env PORT}}

 :oauth2-spec #profile
                  {:dev {:google {:authorize-uri    "https://accounts.google.com/o/oauth2/v2/auth"
                                  :access-token-uri "https://www.googleapis.com/oauth2/v4/token"
                                  :client-secret    #env client_secret
                                  :client-id        #env client_id
                                  :scopes           ["email", "profile"]
                                  :launch-uri       "/login"
                                  :redirect-uri     "/redirect"
                                  :landing-uri      "/user"}}}}
