/*.log
/target
/*-init.clj
/resources/public/js/compiled
out
.projectile
.dir-locals.el
.nrepl-port
.idea
.lein-repl-history
*.iml
.shadow-cljs/
node_modules/
package-lock.json
*.lein-failures
.DS_Store
.env
test/clj/nnts2/token
*#
*~
