{:up ["create table organizations (id UUID default uuid_generate_v4() primary key,
                                  name text not null,
                                  slug text not null UNIQUE,
                                  created_at timestamp not null default now(),
                                  updated_at timestamp not null default now());

       create or replace function trigger_set_timestamp()
       returns trigger as $$
       begin
         NEW.updated_at = NOW();
         return NEW;
       end;
      $$ language plpgsql;

      create trigger set_timestamp
      before update on organizations
      for each row
      execute procedure trigger_set_timestamp();"]
 :down ["drop table organizations;
        drop function trigger_set_timestamp();"]}
