{:up ["CREATE TABLE notes (id serial primary key,
                           title text,
                           content text,
                           created_by_id integer not null,
                           created_at timestamptz not null,
                           updated_at timestamptz,
                           note_time timestamptz not null,
                           foreign key (created_by_id) references users (id));"]
 :down ["DROP TABLE notes"]}
